:root {
  --1st-colour: #00a450;
  --2nd-colour: #8cc63f;
}

h1 {
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

a {
  color: #000000;
  text-decoration: none;
}


.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--1st-colour);
  color: #fff;
  width: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert.visible {
  opacity: 1;
}

/* navbar */

.container-fluid {
  padding: 0;
}

#hide {
  display: none;
}

#headerLogo {
  padding-top: 10px;
  height: 120px;
  width: 160px;
}

nav {
  padding: 0px !important;
}

.container {
  justify-content: space-between !important;
  align-items: end !important;
  background-color: #8cc63f;
  margin-left: 0;
  margin-right: 0;
  max-width: none !important;
}

.navbar-brand {
  margin-right: 0px;
}

.cart {
  width: 40px;
  margin-left: 7px;
  margin-right: 7px;
  height: 40px;
  margin-bottom: 5px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding-bottom: 10px;
}

#dropdown {
  box-sizing: none;
  text-align: center;
  background-color: #00a450;
  padding: 0px;
}

#dropdown a {
  color: white;
  border-top: solid 1px white;
  font-size: 22px;
  padding: 10px 18.75px 10px 18.75px;
}

/* footer */

.footer {
  text-align: center;
  background-color: var(--2nd-colour);
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer p {
  margin-bottom: 0;
}

.footer a {
  font-size: 26px;
  text-decoration: none;
  color: black;
}

/* whats new */

.header h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  margin: 0;
  height: auto;
  background-color: var(--1st-colour);
}

.header button {
  border-radius: 7px;
  background-color: white;
  font-size: 24px;
  width: 95%;
  color: black;
}

.main {
  background-image: url(./imgs/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.combos {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  padding-left: 8%;
  padding-right: 8%;
}

.combocell {
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  margin-top: 40px;
  text-align: center;
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px;
}


.combocell div {
  font-weight: bold;
  font-size: 12px;
  margin-top: auto;
}

.combocell .price {
  background-color: #00a450;
  margin-bottom: 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  color: white;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
}

.combocell h4 {
  margin-bottom: 20px;
}

.mainCombo {
  padding-top: 90px;
  padding-bottom: 50px;
  margin-left: 8%;
  margin-right: 8%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
}

.mainCombo p {
  background: linear-gradient(to bottom, #8cc63f 0%, #000000 200%);
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.mainCombo .maininfo {
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainCombo .mainprice {
  text-align: center;
}

.mainCombo span {
  font-size: 40px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

h4 {
  font-size: 16px;
  font-weight: bold;
}


/* Menu */

.menu {
  background-image: url(../src/imgs/specialties-bkgd.jpg);
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.BYOP {
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}

h2 {
  display: block;
  color: #fffffe;
  background-color: var(--1st-colour);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  margin-top: -20px;
  margin-left: -5px;
  margin-right: 5px;
}


.BYOP-Sizes {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.BYOP-Sizes a {
  margin-top: 20px;
  font-size: 18px;
  text-decoration: underline;
}

.Types {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  padding-left: 8%;
  padding-right: 8%;
}

.Types div {
  background-color: white;
  height: 120px;
  margin-top: 40px;
  text-align: center;
  flex-basis: calc(50% - 24px);
  box-sizing: border-box;
  margin: 12px;
  margin-top: 40px;
}

.discounts {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/* BYOP */
.BYOP-Creator {
  padding: 12px;
  background-image: url(../src/imgs/create-your-own-bkgd.jpg);
  background-size: cover;
}

.BYOPContainer {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  margin: 12px;
}

.Selection {
  margin-bottom: 40px;
}

.SelectionF {
  text-align: center;
}

#note {
  font-size: 12px;
  padding-right: 15px;
  text-decoration: underline;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}


.options label {
  display: flex;
  align-items: center;
}

.options input {
  margin-right: 5px;
}

/* Pizza pages */

.PizzaTypes div {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 8%;
  margin-right: 8%;
  background-color: white;
  min-height: 240px;
  justify-content: space-between;
}

.PizzaTypes h2 {
  padding: 5px;
}

.PizzaTypes {
  padding-bottom: 20px;
}

.PizzaTypes p {
  padding: 10px;
  padding-bottom: 0px;
}

#ClassicsZa {
  padding-bottom: 20px;
}

.beverages .PizzaTypes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: center;
}

.beverages .PizzaTypes div {
  width: 60%;
  height: 50px;
  min-height: 0;
  margin: 0;
  background-color: transparent;
  justify-content: center;
  text-align: center;
}

/* Checkout Component */

.Checkout {
  background-color: white;
  margin: 40px 12px 30px 12px;
  border: 1px solid black;
  min-height: auto;
  padding: 10px;
  text-align: center;
}

.checkout-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.checkout-item p {
  margin: 0;
  text-align: left;
}

.checkout-item .r p {
  text-align: right;
}

#SS {
  height: auto;
}

/* Specific styles for each grid cell */
.checkout-item .cell-a {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.checkout-item .cell-b {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.checkout-item .cell-c {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.checkout-item .cell-d {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.checkout-item .cell-r {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.checkout-item .cell-e {
  grid-column: 4 / span 1;
  grid-row: 3 / span 1;
}

.checkout-item .cell-r button {
  border-radius: 12px;
  background-color: red;
  width: 75%;
  font-size: 12px;
  color: white;
}

#checkB {
  width: 80%;
  background-color: var(--1st-colour);
  margin-top: 20px;
  color: black;
}

/* Modal */
.modal {
  display: block;
  position: fixed;
  width: 90%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 9000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  border: 2px solid black;
  padding-top: 30px;
}

#modalButtons {
  display: flex;
  justify-content: space-around;
}

#modalButtons button {
  background-color: var(--2nd-colour);
  color: black;
  width: 33%;
}

.size-form {
  display: flex;
  flex-direction: column;
}

.size-option {
  display: flex;
  align-items: center;
}

.size-option label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.size-option input[type="radio"] {
  margin-bottom: 8px;
}

/* Account related. */
.Registration {
  background-color: white;
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 20px;
  margin-bottom: 40px;
  
}

.Registration input {
  min-width: 250px;
}

.Registration label {
  padding-bottom: 10px;
}

.Registration button {
  margin-left: 25px;
}

/* Queries */

@media (max-width: 424px) {
  .checkout-item .cell-r button {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  div,
  .combocell div {
    font-size: 16px !important;
  }

  p,
  h4,
  label {
    font-size: 20px !important;
  }

  h2,
  h3 {
    font-size: 28.5px !important;
  }

  h1 {
    font-size: 44px !important;
  }

  .price {
    font-size: 28px !important;
  }

  .header button {
    font-size: 28px !important;
  }

  #dropdown a {
    font-size: 26px !important;
  }

  .BYOP-Sizes a {
    font-size: 22px !important;
  }

  #checkB {
    font-size: 20px !important;
  }

  .PizzaTypes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    gap: 10%;
  }

  .PizzaTypes div {
    margin-top: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
    min-height: 250px;
  }

  .Types,
  .combos {
    padding-left: 10%;
    padding-right: 10%;
  }

  .modal,
  .alert {
    width: 65%;
  }

  .BYOP-Creator {
    padding-left: 8%;
    padding-right: 8%;
  }

  .Checkout,
  .discounts {
    margin-left: 8%;
    margin-right: 8%;
  }


}

@media (min-width: 1024px) and (max-width: 1439px) {

  div,
  .combocell div {
    font-size: 16px !important;
  }

  p,
  h4,
  label {
    font-size: 20px !important;
  }

  h2,
  h3 {
    font-size: 28.5px !important;
  }

  h1 {
    font-size: 44px !important;
  }

  .price {
    font-size: 28px !important;
  }

  .header button {
    font-size: 28px !important;
  }

  #hide a {
    font-size: 26px !important;
    color: #000000;
  }

  .BYOP-Sizes a {
    font-size: 22px !important;
  }

  #checkB {
    font-size: 20px !important;
  }

  #dropdown,
  .cart,
  .header {
    display: none !important;
  }

  #hide {
    display: flex;
  }

  .container {
    justify-content: center !important;
  }

  #NavF {
    margin-right: 0 !important;
  }

  #NavF a {
    padding: 10px;
  }

  .collapse:not(.show) {
    display: flex;
    background-color: var(--1st-colour);
    margin-left: -12px;
    margin-right: -12px;
    justify-content: center !important;
    height: 80px;
  }

  .PizzaTypes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    gap: 5%;
  }

  .PizzaTypes div {
    margin-top: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 30%;
    min-height: 350px;
  }

  .Types,
  .combos,
  .BYOP-Creator {
    padding-left: 15%;
    padding-right: 15%;
  }

  .modal,
  .alert {
    width: 65%;
  }

  .BYOP,
  .Checkout,
  .mainCombo,
  .discounts {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (min-width: 1440px) {

  div,
  .combocell div {
    font-size: 16px !important;
  }

  p,
  h4,
  label,
  strong {
    font-size: 20px !important;
  }

  h2,
  h3 {
    font-size: 28.5px !important;
  }

  h1 {
    font-size: 44px !important;
  }

  .price {
    font-size: 28px !important;
  }

  .header button {
    font-size: 28px !important;
  }

  #hide a {
    font-size: 26px !important;
    color: #000000;
  }

  .BYOP-Sizes a {
    font-size: 22px !important;
  }

  #checkB {
    font-size: 20px !important;
  }

  #dropdown,
  .cart,
  .header {
    display: none !important;
  }

  #hide {
    display: flex;
  }

  .container {
    justify-content: center !important;
  }

  #NavF {
    margin-right: 0 !important;
  }

  .collapse:not(.show) {
    display: flex;
    background-color: var(--1st-colour);
    margin-left: -12px;
    margin-right: -12px;
    justify-content: center !important;
    height: 80px;
  }

  .PizzaTypes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    gap: 5%;
  }

  .PizzaTypes div {
    margin-top: 8%;
    margin-left: 0;
    margin-right: 0;
    width: 30%;
    min-height: 350px;
  }

  .Types,
  .combos,
  .BYOP-Creator {
    padding-left: 15%;
    padding-right: 15%;
  }

  .modal,
  .alert {
    width: 40%;
  }

  .BYOP,
  .Checkout,
  .mainCombo,
  .discounts {
    margin-left: 15%;
    margin-right: 15%;
  }
}