/* navbar */

#headerLogo {
  height: 120px;
  width: 160px;
}

nav {
  padding: 0px !important;
}

.container {
  justify-content: space-between !important;
  align-items: end !important;
  background-color: #8cc63f;
}

.navbar-brand {
  margin-right: 0px;
}

.hide {
  width: 54px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding-bottom: 10px;
}

#dropdown {
  box-sizing: none;
  text-align: center;
  background-color: #00a450;
  padding: 0px;
}

#dropdown a {
  color: white;
  border-top: solid 1px white;
  font-size: 22px;
  padding: 10px 18.75px 10px 18.75px;
}

