/* navbar */

#headerLogo {
  padding-top: 10px;
  height: 120px;
  width: 160px;
}

nav {
  padding: 0px !important;
}

.container {
  justify-content: space-between !important;
  align-items: end !important;
  background-color: #8cc63f;
}

.navbar-brand {
  margin-right: 0px;
}

.hide {
  width: 54px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding-bottom: 10px;
}

#dropdown {
  box-sizing: none;
  text-align: center;
  background-color: #00a450;
  padding: 0px;
}

#dropdown a {
  color: white;
  border-top: solid 1px white;
  font-size: 22px;
  padding: 10px 18.75px 10px 18.75px;
}

/* footer */

.footer {
  text-align: center;
  background-color: white;
  font-size: 16px;
  padding-bottom: 20px;
}

.footer p {
  margin-bottom: 0;
}

.footer a{
  font-size: 26px;
  text-decoration: none;
  color: black;
}

/* whats new */

.header h1 {
  display: flex;
  padding: 20px;
  font-size: 40px;
  margin: 0;
  height: 100px;
  align-items: center;
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  background-color: #00a450;
}

.main {
  background-image: url(./imgs/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.combos {
  display: grid;
  background-color: white;
  margin-left: 12px;
  margin-right: 12px;
  grid-template-columns: repeat(2, 1fr); 
  grid-template-rows: repeat(3, auto); 
  border-bottom: 0px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

}

.combocell {
  text-align: center; 
  border-bottom: 1px solid black;
}

#right {
  border-left: 1px solid black;
}


.combocell p {
  font-weight: bold;
  font-size: 12px;
  min-height: 36px;
}

.combocell .price {
  background-color: #00a450;
  margin-bottom: 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  color: white;
  font-size: 24px;
  padding-bottom: 3px;
  font-weight: normal;
}

.mainCombo {
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left:20px;
  margin-right: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  color: white;  
}

.mainCombo p {
  background: linear-gradient(to bottom, #8cc63f 0%, #000000 200%);
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.mainCombo .maininfo {
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.mainCombo .mainprice {
  text-align: center;
}

.mainCombo span {
  font-size: 40px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

