:root {
  --1st-colour: #00a450;
  --2nd-colour: #8cc63f;
 }

h1 {
  color: white;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
}

a {
  color: #000000;
  text-decoration: none;
}


.alert {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: blue; 
  color: #fff;
  width: 80%;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999; 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
}

.alert.visible {
  opacity: 1; 
}

/* navbar */

#headerLogo {
  padding-top: 10px;
  height: 120px;
  width: 160px;
}

nav {
  padding: 0px !important;
}

.container {
  justify-content: space-between !important;
  align-items: end !important;
  background-color: #8cc63f;
}

.navbar-brand {
  margin-right: 0px;
}

.cart {
  width: 40px;
  margin-left: 7px;
  margin-right: 7px;
  height: 40px;
  margin-bottom: 5px;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
  padding-bottom: 10px;
}

#dropdown {
  box-sizing: none;
  text-align: center;
  background-color: #00a450;
  padding: 0px;
}

#dropdown a {
  color: white;
  border-top: solid 1px white;
  font-size: 22px;
  padding: 10px 18.75px 10px 18.75px;
}

/* footer */

.footer {
  text-align: center;
  background-color: var(--2nd-colour);
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.footer p {
  margin-bottom: 0;
}

.footer a{
  font-size: 26px;
  text-decoration: none;
  color: black;
}

/* whats new */ 

.header h1 {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 40px;
  margin: 0;
  height: 100px;
  background-color: var(--1st-colour);
}

.header button {
  border-radius: 7px;
  background-color: white;
  font-size: 24px;
  width: 400px;
}

.main {
  background-image: url(./imgs/main.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20px;
}

.combos {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
}

.combocell {
  text-align: center; 
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  background-color: white;
  margin-top: 40px;
  text-align: center;
  flex-basis: calc(50% - 10px);
  box-sizing: border-box;
  margin: 5px; 
}


.combocell p {
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  margin-top: auto;
}

.combocell .price {
  background-color: #00a450;
  margin-bottom: 0;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 1);
  color: white;
  font-size: 24px;
  font-weight: normal;
}

.mainCombo {
  padding-top: 150px;
  padding-bottom: 50px;
  margin-left:12px;
  margin-right: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  color: white;  
}

.mainCombo p {
  background: linear-gradient(to bottom, #8cc63f 0%, #000000 200%);
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
}

.mainCombo .maininfo {
  padding-left: 15px;
  display: flex;
  align-items: center;
}
.mainCombo .mainprice {
  text-align: center;
}

.mainCombo span {
  font-size: 40px;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

h4 {
  font-size: 16px;
  font-weight: bold;
}


/* Menu */

.menu {
  background-image: url(../src/imgs/specialties-bkgd.jpg);
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.BYOP {
  background-color: white;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
}

h2 {
    display: block;
    color: #fffffe;
    background-color: var(--1st-colour);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    margin-top: -20px;
    margin-left: -5px;
    margin-right: 5px;
}


.BYOP-Sizes {
  border-top: 1px solid black;
  display: grid;
  grid-template-columns: 50% 50%;
}

.BYOP-Sizes a {
  margin-top: 20px;
  font-size: 18px;
  text-decoration: underline;
}

.Types {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.Types div {
  background-color: white;
  height: 120px;
  margin-top: 40px;
  text-align: center;
  flex-basis: calc(50% - 24px);
  box-sizing: border-box;
  margin: 12px; 
  margin-top: 40px;
}

/* BYOP */
.BYOP-Creator {
  padding: 12px;
  background-image: url(../src/imgs/create-your-own-bkgd.jpg);
  background-size: cover;
}

/* Pizza pages */

.PizzaTypes div{
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin: 48px;
  background-color: white;
  min-height: 240px;
  justify-content: space-between;
}

.PizzaTypes h2 {
  padding: 5px;
}

.PizzaTypes {
  padding-bottom: 20px;
}

.PizzaTypes p {
  padding: 10px;
  padding-bottom: 0px;
}

#ClassicsZa {
  padding-bottom: 20px;
}

/* Checkout Component */

.Checkout {
  background-color: white;
  margin: 40px 12px 30px 12px;
  border: 1px solid black;
  min-height: 300px;
  padding: 10px;
  text-align: center;
}

.checkout-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns for AABC */
  grid-template-rows: 1fr 1fr 1fr; /* Each row has equal height */
  gap: 10px; /* Gap between cells */
  margin-bottom: 40px;
}

.checkout-item p {
  margin: 0;
  text-align: left;
}

.checkout-item .r p {
  text-align: right;
}

/* Specific styles for each grid cell */
.checkout-item .cell-a {
  grid-column: 1 / span 2; /* A */
  grid-row: 1 / span 1;
}

.checkout-item .cell-b {
  grid-column: 3 / span 1; /* B */
  grid-row: 1 / span 1;
}

.checkout-item .cell-c {
  grid-column: 4 / span 1; /* C */
  grid-row: 1 / span 1; /* Corrected to 1 */
}

.checkout-item .cell-d {
  grid-column: 1 / span 3; /* D */
  grid-row: 2 / span 1; /* Updated to 3 */
}

.checkout-item .cell-r {
  grid-column: 1 / span 1; /* R */
  grid-row: 3 / span 1;
}

.checkout-item .cell-e {
  grid-column: 4 / span 1; /* E */
  grid-row: 3 / span 1; /* Updated to 2 */
}

.checkout-item .cell-r button {
  border-radius: 12px;
  background-color: red;
  font-size: 12px;
  color: white;
}
